<nav class="header navbar navbar-expand-lg fixed-top navbar-light bg-red">
  <div class="container">
    {{#link-to 'home' class='navbar-brand'}}Shiori{{/link-to}}
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">Animes</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Groups</a>
        </li>
      </ul>

      <form class="search form-inline my-2 my-lg-0 {{if isActive 'active'}}">
        <input class="form-control" type="search" placeholder="Search"
          {{action 'toggleActive' on='focusIn'}} {{action 'toggleActive' on='focusOut'}}>
        <button class="btn" type="submit">{{fa-icon 'search'}}</button>
      </form>

      {{#if session.isAuthenticated}}
        <ul class="navbar-nav float-right">
          <li class="nav-item">
            {{#bs-dropdown as |dd|}}
              {{#dd.toggle class='nav-link'}}
                {{session.user.name}} <span class="caret"></span>
              {{/dd.toggle}}
              {{#dd.menu align='right' as |mn|}}
                {{#mn.item}}
                  {{#mn.link-to 'signin'}}{{t 'settings'}}{{/mn.link-to}}
                {{/mn.item}}
                {{mn.divider}}
                {{#mn.item}}
                  <a href="#" class="dropdown-item" {{action 'signout'}}>{{t 'signout'}}</a>
                {{/mn.item}}
              {{/dd.menu}}
            {{/bs-dropdown}}
          </li>
        </ul>
      {{else}}
        <ul class="navbar-nav float-right">
          <li class="nav-item">
            <a href="#" class="nav-link" {{action 'openSigninModal'}}>{{t 'signin'}}</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link" {{action 'openSignupModal'}}>{{t 'signup'}}</a>
          </li>
        </ul>
      {{/if}}
    </div>
  </div>
</nav>

{{sign-in isOpen=isSigninModalOpen}}
{{sign-up isOpen=isSignupModalOpen}}
