<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title text-center">{{t 'signin'}}</h4><hr />
          {{#if error}}
            <div class="alert alert-danger">{{error}}</div>
          {{/if}}
          <form {{action 'signin' on='submit'}} class="form">
            <div class="form-group">
              <label for="username">Username</label>
              {{input id='username' type='text' placeholder=(t 'user.username')
                class='form-control' name='username' value=model.username}}
            </div>

            <div class="form-group">
              <label for="password">Password</label>
              {{input id='password' type='password' placeholder='Password'
                class='form-control' name='password' value=model.password}}
            </div>

            <button type="submit" class="btn btn-primary float-right">{{t 'signin'}}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
